{% extends "partials/base1.jinja" %}
{% block title %}Cancel Booking  - Hotel Booking App{% endblock %}
{% block content %}

    <!-- Title -->
    <div class="container text-center mt-3">
        <h5>Booking Successfully Cancelled!</h5>
    </div>

    <!-- Divider -->
    <div class="container">
        <hr>
    </div>

    <!-- Body -->
    <div class="container text-center">
        <p>Your stay at xxx on xx/xx/xxxx has successfully been cancelled!</p>
    </div>

    <!-- Make new booking button -->
    <div class="container">
        <a class="btn btn-primary w-100" href="index.html" role="button">Make a New Booking</a>
    </div>

{% endblock %}